@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700;800&family=Yellowtail&display=swap');

/*font-family: 'Montserrat', sans-serif; body text
  font-family: 'Poppins', sans-serif; titles*/
:root{
    --douradoLogo: #e8ae4a;
    --fonteBody: 'Montserrat', sans-serif;
    --fonteTitle: 'Poppins', sans-serif;
}

a{
    color: white;
}

p, b{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h2{

    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36pt;
    color: white;
    text-transform: uppercase;
}
.site{
    width: 100%;
    max-width: 1200px;
}
html, body{
    height: 100%;
    background-color: black;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background-color: transparent;    
}
::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: white;
}
/*****Início Menu*****/
header{

    width: 100%;

    position: fixed;
    left: 50%;
    z-index: 999;
}
#fundoMenu{

    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 0;

    display: flex;
    justify-content: space-between;
}
#gradienteMenu{

    width: 100%;
    height: 150px;
    position: absolute;

    background-image: radial-gradient(ellipse at top, black, transparent 50%);
    background-size: contain;
}
.menu{
    
    width: 100%;
    height: 150px;
    
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    position: relative;
    left: -50%;
}
.menu .menuItens{

    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}
.menu a{

    width: fit-content;
    height: 30pt;


    display: flex;
    align-items: center;

    font-family: var(--fonteTitle);
    font-size: 1.05em;
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
}
.menu a:hover{
    color: var(--douradoLogo);
}
.menu a:active{
    color: var(--douradoLogo);
}
.menu #logo{
    justify-self: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;

    position: relative;
    top: 15px;
    left: 0;
    z-index: 1;
}
.menu h1{
    width: 100%;
    position: absolute;
    text-indent: -9999px;
}
#cf{
    display: block;
    height: 180px;
    margin: 0 auto;
}
#cf img{ 
    height: 180px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#cf img.top{
    position: relative;
}
#cf img.top:hover{
    opacity: 0;
}
#cf .bottom{
    position: absolute;

}
/*****Fim Menu*****/

/*****Começo Banner*****/
.topo{
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;

    background: linear-gradient(180deg, black 60px, transparent 180px);

    position: relative;
    z-index: 20;
}
#banner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;

    position: relative;
    top: 0;
    left: 0;

}
.banner{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.banner .img-slide-track{
    transition: all 9.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.single-banner img{
    height: 100vh;
    width: 100%;
    transition: all 9.5s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
}
.single-banner.slick-active img{
    transform: scale(1);
}
.seta{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 76px;
    width: 100%;
    background-image: linear-gradient(180deg, black, transparent 76px);
    z-index: 10;
    transform: rotate(180deg);

    position: relative;
    top: 1px; /*to cover white space in Chrome*/
}
#degradeRadial{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    width: 350px;
    background: radial-gradient(circle at bottom, black, transparent 160px);
    transform: rotate(180deg);
}
.seta img{
    width: 100px;
    height: auto;
    position: relative;
    bottom: 40px;
    animation: float 10s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
/*****Fim Banner*****/
.espacoPreto{

    height: 90px;
    width: 100%;
    background-color: black;

    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
#backgroundConteudo{
    display: flex;
    flex-direction: column;

    background-image: url(../img/svg/backgroundConteudo.svg);
    background-repeat: no-repeat;
    background-size: 1920px 100%;
    background-position-x: center;
    background-position-y: top;

    position: relative;
    /* top: -5px; to cover white space in Firefox */
    left: 0;
    z-index: 1;
    overflow-x: clip;
    overflow-y: visible;
}
.bolinhas{

    width: 1165px;
    height: 840px;

    background-image: url(../img/svg/bolinhasHexagono.svg);
    background-repeat: no-repeat;
    background-size: 85%;
   
    position: absolute;
    top: -2%;
    left: 100%;
    z-index: 1;
}
/*****Começo App*****/
#app{

    width: 1200px;
    height: 640px;
    margin: 0 auto;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
#app article{

    position: relative;
}
#app h2{

    height: fit-content;
    width: 450px;
    margin-top: 40px;

    font-size: 26pt;
    line-height: 30pt;
    text-align: left;
    word-wrap: normal;
}
#app #typewriter{
    
    width: 600px;
    position: absolute;
    top: -40px;

}
#app span.typed-text{
    color: var(--douradoLogo);
}
#app h2 span.cursor{
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
#app h2 span.cursor.typing{
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}
#app p{
    
    max-height: 185px;
    width: 455px;
    margin:40px 0 0 10px;
    
    overflow: hidden;

    font-size: 18pt;
    line-height: 23pt;
    letter-spacing: 1pt;
    text-align: justify;
}
#app #playstore{

    display: block;
    width: 190px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 200px;
}
#appMockup{
    margin-bottom: 125px;
}
/*****Fim App*****/

/*****Começo aBarbearia*****/
#shadowModelo
{
    display: none;
}
#modeloBarbearia{

    justify-self: center;

    width: 643px;
    height: 1216px;
    margin: 0 auto;

    background-image: url(../img/modeloGolden.png);
    background-repeat: no-repeat;
    background-size: 643px;

    position: absolute;
    top: -342px;
    left: -78%;

    z-index: 1;

}
#aBarbearia{

    width: 100%;
    height: 720px;
    margin: 0 auto;

    display: flex;
    justify-content: right;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;
    z-index: 11;
}
#aBarbearia article{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 175px;
    margin-bottom: 150px;

    position: relative;
    top: 0;
    left: 0;

}
#aBarbearia h2{
    
    display: block;
    
    position: relative;
    bottom: 1.8em;
    z-index: 15;
}
#aBarbearia span{
    
    display: block;
    position: absolute;
    top: 30px;
    left: 114px;
    transform: rotate(-2.5deg);

    font-family: "Yellowtail", cursive;
    font-size: 44pt;
    text-transform: capitalize;
    text-shadow: 
    5px 0 0 #000, -5px 0 0 #000,
    0 5px 0 #000, 0 -5px 0 #000, 
    4px 4px #000, -4px -4px 0 #000, 
    4px -4px 0 #000, -4px 4px 0 #000;
    color: var(--douradoLogo);
}
#aBarbearia article>div
{
    padding: 0 25px 0 20px;
}
#aBarbearia p{

    width: 500px;
    height: 358px;

    margin: 0 0 17px 0;
    position: relative;
    top: 20px;

    color: white;
    font-size: 14pt;
    line-height: 22pt;
    letter-spacing: 2.5px;
    text-align: justify;
    text-transform: none;

    overflow: hidden;
}
#aBarbearia a{
    
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--fonteBody);
    font-size: 16pt;
    letter-spacing: .1em;
    text-decoration: none;

    color: white;
    background-color: black;

    position: relative;
    top: 25px;

}

/*****Fim aBarbearia*****/

#servicos{
    
    width: 100%;
    height: 600px;
    margin: 0 auto;

    position: relative;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: #e6ac49;

}
.responsiveBar
{
    display: none;
}
#servicos>div
{
    max-height: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#servicos article{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    top: 0;
    left: 50px;
}
#servicos h2{

    width: 300px;
    height: 205px;
    position: relative;
    top: 64px;
    left: 36px;

    text-align: center;
    line-height: 20pt;

    transform: rotate(-10deg);
}
#servicos h2::first-line{

    font-weight: 700;
}
#servicos span{

    width: 300px;
    height: 70px;

    font-size: 18pt;
    text-transform: lowercase;
    line-height: 15pt;
    color: #0c89b3;

    position: relative;
    bottom: 3px;
}
#servicos .sliderServicosTitle{

    width: 300px;
    height: 70px;

    position: absolute;
    top: 29px;
    left: 0;
    z-index: 100;
}
#servicos .sliderServicosTitle div{

    width: 300px;
    height: 70px;
}
#servicos #sliderTextos{

    height: 205px;
    width: 560px;
    position: relative;
    top: 0;
    left: 0;
}
#servicos #degradeEsquerdo{

    width: 15px;
    height: 205px;
    position: absolute;
    bottom: 25%;
    left: 180px;
    z-index: 9999;

    background-image: linear-gradient(90deg, var(--douradoLogo), transparent);

}
#servicos #degradeDireito{

    width: 15px;
    height: 205px;
    position: absolute;
    bottom: 25%;
    left: 725px;
    z-index: 9999;

    background-image: linear-gradient(270deg, var(--douradoLogo), transparent);

}
#servicos .sliderServicos{
    
    height: 205px;
    width: 560px;
    margin: 50px 0 130px 180px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
    color: white;

    position: relative;
    top: 0;
    left: 0;
}
#imgServicos{

    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}
#imgServicos .sombraGaleria{

    width: 542px;
    height: 626px;
    margin-left: 159px;
    position: relative;
    bottom: 25px;
    z-index: 1;
}
#imgServicos .maskServicos{

    position: absolute;
    top: 33px;
    left: 127px;
    z-index: 10;
}
/* Fim servicos */

/* Começo midias */
#midias{
    background-color: #0a8f8d;

    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    
}
#midias .espacoMidias {

    width: 100%;
    height: 100px;

    background-color: #0ca8a6;
}
#midias .site{

    height: 380px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;

    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: 900;
    color: black;

}
#midias article{

    width: auto;
    height: 236px;
    margin: 70px 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
#midias h3{

    font-size: 18pt;
    color: white;
    font-weight: 500;
}
#midias a{

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: black;
    text-decoration: none;
    font-weight: 100;

    transition-property: color;
    transition-duration: .5s;
}
#midias a:hover{

    color: var(--douradoLogo);
}
#midias .iconMidias{

    width: 50px;
    height: 50px;
}
#midias #yt.iconMidias{

    width: 57px;
    height: 40px;
}
/* Fim midias */

/* Começo galeria */
#galeria{

    width: 100%;
    height: 100%;

    background-color: black;
    
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;

    overflow: hidden;
}
#parallaxGaleria
{
    width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 70%;
    z-index: 1;

    background-image: url(../img/fundoGaleria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#galeria .bolinhas{

    top: 50px;
    left: -700px;
    opacity: .9;
    
    background-size: 75%;
    transform: scale(-1, 1);

}

#galeria .video{

    width: 100%;
    height: auto;
    margin: 12% auto 0 auto;

    

    display: flex;
    justify-content: center;
    
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
}
#galeria .sombraVideo{

    display: block;
    width: 810px;
    height: 405px;

    background-color: var(--douradoLogo);

    position: absolute;
    top: 12%;
    left: 52%;
    transform: translate(-50%, 0);
    z-index: 0;
}
#galeria .imagemVideo{

    width: 810px;
    height: 405px;
    margin-top: 1%;

    background-image: url(../img/videogaleria.jpg);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

}
#galeria #gridFotos{

    max-width: 1200px;
    height: 60vh;
    margin: 0 auto;
    padding: 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    left: 100px;
}
#galeria #gridFotos>div{

    width: 200px;
    height: 200px;    
    position: relative;
    z-index: 3;
}
#galeria .imagemGaleria{

    width: 200px;
    height: 200px;

    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
#galeria .sombraImgGaleria{

    width: 200px;
    height: 200px;

    background-color: #076967;

    position: absolute;
    top: 30px;
    left: 30px;
    z-index: -1;
}
/* Fim galeria */

/* Começo rodape */
footer {

    width: 100%;
    height: 650px;
    background: black;
}
#rodape {

    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 100;
    
    color: white;
}
#rodape article {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}
#rodape .informativo img{

    width: auto;
    height: 140px;
}
#rodape .informativo p{

    justify-content: center;
    font-size: 16pt;
}
#rodape .informativo span{

    color: var(--douradoLogo);
}
#rodape .informativo a{

    font-family: var(--fonteBody);
    font-size: 14pt;
    text-decoration: none;

    transition-property: color;
    transition-duration: .3s;
}
#rodape .informativo a:hover{

    color: var(--douradoLogo);
}

#rodape .local h5{

    font-family: var(--fonteBody);
    font-size: 24pt;

}
#rodape .local .mapa
{

    width: 100%;
    height: 50%;

    position: relative;
    top: 0;
    left: 0;
}
#rodape .local iframe{

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    filter: invert(100%);
}
#rodape .local p {

    padding-bottom: 50px;

    font-size: 16pt;
    text-align: center;
    
}



footer .espacoPreto{

    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #202020;
}

/* RESPONSIVO */

/* TABLET COMEÇO */
@media (max-width: 960px) {

main
{
    overflow: hidden;
}
/* SEC menu */
.menuItens
{
    transform: scale(.8);
}
#mi1.shrink a,
#mi2.shrink a
{
  font-size: 1em;
}
#mi1.shrink,
#mi2.shrink
{
  padding-top: 30px;
}
#logo
{
    top: -10px !important;
}
#logo div
{
    transform: scale(.75);
}

/* SEC Banner */
.topo
{
    height: 20%;
    background: linear-gradient(180deg, black 20px, transparent);
}
.banner
{
    width: 170%;
}
#degradeRadial img
{
    transform: scale(.4);
}

/* SEC app */
.bolinhas
{
    transform: scale(.7);
}
#app article
{
    margin-left: 4%;
    transform: scale(.9);
}
#appMockup
{
    padding-right: 250px;
    transform: scale(.75);
}
#app h2
{
    margin-left: 10px;
    font-size: 24pt;
}
#app p 
{
    font-size: 14pt;
}

/* SEC aBarbearia */
#aBarbearia article
{
    margin-right: 6%;
}
#modeloBarbearia
{
    top: -38%;
    left: -94%;
}
#shadowModelo
{
    display: block;
    width: 1000px;
    height: 1000px;

    position: absolute;
    top: -230px;
    left: -736px;

    background: #0ca7a5;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

}
/* SEC servicos */
#servicos
{
    justify-content: center;
}
#servicos article
{
    align-items: center;
    justify-content: center;
    top: -12%;
    left: 0px;
}
#servicos h2
{
    left: -70%;
}
#servicos .sliderServicos
{
    margin: 0 auto;
}
#servicos #degradeEsquerdo
{
    left: 0;
}
#servicos #degradeDireito
{
    left: 98%;
}
#servicos #imgServicos
{
    display: none;
}

#galeria #gridFotos
{
    flex-wrap: wrap;
    margin: 10% 10%;
}

} /* TABLET FIM */

/* SMARTPHONE COMEÇO */
@media (max-width: 600px) {

.menu
{
    justify-content: center !important;
}
.menuItens
{
    display: none !important;
}

.banner
{
    width: 250vw;
}

.espacoPreto
{
    display: none;
}
#backgroundConteudo
{
    background-image: url(../img/svg/backgroundConteudoResponsivo.svg);
}

#app
{
    width: 100%;
}
#app article>div
{
    width: fit-content;
    margin: 0 auto;
}
#app #playstore
{
    margin: 0 auto;
}
#appMockup
{
    display: none;
}
.bolinhas
{
    transform: scale(.6);
}
#shadowModelo
{
    display: none;
}
#modeloBarbearia
{
    background-image: url(../img/modeloGoldenResponsivo.png);
    top: 1%;
    left: 0;
}
#aBarbearia article>div
{
    padding: 0 20px;
    position: relative;
    z-index: 2;

    background-color: #0ca7a5;
    border-radius: 2%;
}
#aBarbearia p{font-size: 1.2em;}
#aBarbearia a
{
    position: static;
    margin: 30px auto;
}

#servicos
{
    z-index: 100;
    border-top: 10px;
    border-color: #e49732;
}
#servicos .responsiveBar
{
    display: block;
    width: 100%;
    height: 100px;
    background-color: #0ca7a5;
}
#servicos span{top:18px !important;}
.sliderServicos
{   
    font-size: 1.2em !important;
    width: 75vw !important;
    height: 200px !important;
}
.slick-dots li button:before{width: 60px;height: 60px;}
#servicos>div
{
    flex-direction: column;
    justify-content: center;
}
#servicos>div>article
{
    position: relative;
    bottom: 2em;
}
#servicos h2
{
    font-size: 2.4em !important;
    line-height: 1.3rem;
    left: 0;
    transform: rotate(0);
}
#degradeEsquerdo{top: 50%;left: 12% !important;}
#degradeDireito{top: 50%;left: 86% !important;}

#midias article:first-child h3{position: absolute; top: 40px;}

#midias article:last-child h3{display: none;}
#midias article
{
    margin: 0;
    justify-content: space-around;
}
#midias div.site
{
    flex-direction: column;
    align-items: center;
}

#galeria #bolinhasGaleria
{
    transform: scale(-0.7, .7);
}

#galeria .video  
{
    height: 100vh !important;
    margin: 0 auto;
    align-items: center;
}
#galeria .imagemVideo,
#galeria .sombraVideo,
#galeria iframe
{
    background-size: cover;
    width: 85vw;
    height: 25vh;
}
#galeria .sombraVideo{top: 39%;left: 54%;}
#galeria .imagemVideo>.btn
{
    transform: scale(.6);
    margin-bottom: 0;
}

#gridFotos{height: 100% !important;}
#gridFotos>div
{
    width: 25vh;
    height: 25vh;
    margin-bottom: 30%;
    left: 15%;
}
#gridFotos>div:last-child{display: none;}

#rodape
{
    flex-direction: column-reverse;
    height: auto;
}
#rodape article
{
    justify-content: space-around;
    width: 100%;
    height: 60vh !important;
}
#rodape article:first-child
{
    justify-content: space-between;
    margin-top: 0;
}
#rodape article h5
{
    text-align: center;
}
#rodape .mapa
{
    width: 80% !important;
}

}

/* RESPONSIVO NOVO PARA CELULAR*/

@media (max-width: 425px)
{
    .banner
    {
        width: 400vw;
    }
    #app article 
    {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 15%;
    }
    #app article>div
    {
        width: fit-content;
        margin: 0 auto;
        padding-left: 1em;
    }
    #app h2
    {
        font-size: clamp(0px, 7vw, 2.5em);
        margin-left: 0;
    }
    #app p
    {
        width: 90% !important;
        margin: 15% auto 15% auto;   
        font-size: 12pt;
    }
    #app #playstore
    {
        width: 250px;
        margin: 10% auto;
    }
    #appMockup
    {
        display: none;
    }
    #bolinhasApp
    {
        width: 460px;
        height: 330px;

        top: 14%;
        left: 85%;  
    }

    #aBarbearia
    {
        height: 1620px
    }   

    #aBarbearia article
    {
        max-width: 100%;
        margin-right: 0;
        margin-top: 100px;
    }

    #aBarbearia article div
    {
        width: 80%;
        margin: 0 auto;
        padding: 0 0 30px 0;
    }

    #aBarbearia div p
    {
        height: 388px;
        width: 90%;
        margin: 0 auto;
    }
    
    #aBarbearia a
    {
        position: relative;
    }

    #modeloBarbearia
    {
        left: initial;
        top: initial;
        right: 0;
        bottom: 0;
        width: 662px;
        height: 760px;
        background-size: initial;
    }

    #shadowModelo
    {
        display:block;
        left: -520px;
        top: 590px;
    }

    .responsiveBar{display:none !important;}
    /* celular serviço*/
    #servicos
    {
        height: 550px;
        margin-top: 50px;
    }
    .slick-dots
    {
        left:0; 
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }
    .slick-dots li
    {
        width:40px;
        height: 40px;
    }
}